<h1>All users</h1>

<p>
<%= will_paginate %>
</p>

<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th></th>
                <th>User</th>
                <th>Role</th>
                <th>Institution</th>
                <th>Activated?</th>
            </tr>
        </thead>

        <tbody>
            <%= render @users %>
        </tbody>
    </table>
</div>

<p>
<%= will_paginate %>
</p>

<div class="btn-toolbar">
    <%= link_to "Create user", signup_path, class: "btn btn-primary" %>
</div>

