<div class="center jumbotron">
    <h1>Welcome to the CosmoFer trial site</h1>

    <h2>This site is for coordination of patient screening and path assignment 
        for the CosmoFer trial</h2>

    <% if logged_in? %>
        <%= link_to 'All Patients', patients_path, class: "btn btn-lg btn-primary" %>
    <% else %>
        <%= link_to "Register", signup_path, class: "btn btn-lg btn-primary" %>
    <% end %>

</div>





