<h1>All patients</h1>

<p>
<%= will_paginate %>
</p>
 
<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Initials</th>
                <th>Date of birth</th>
                <th>Hospital identifier</th>
                <th>Screening date</th>
                <th>Meets inclusion criteria</th>
            </tr>
        </thead>

        <tbody>
            <%= render @patients %>
        </tbody>
    </table>
</div>

<p>
<%= will_paginate %>
</p>

<% if !current_user.nurse? %>
    <%= link_to 'Register new patient', new_patient_path, class: "btn btn-primary" %>
<% end %>
