<footer class="footer">
    <div class="imperial-logo">
        <%= link_to image_tag("imperial-logo-large.png", alt: "Imperial logo"),
            'https://www.imperial.ac.uk' %>
    </div>
</footer>

